body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
}
.card{
    border: 1px solid #ccc;
    padding: 8px;
    margin: 5px;
    border-radius: 6px;
    width: 400px;
    background-color: white;
}
h3,p{
    text-align: center;
    font-size: 20px;
}
button{
    display: block;
    margin: auto;
    padding: 8px;
    border: none;
    border-radius: 6px;
    background-color: rgb(114, 114, 202);
    color: white;
}