
h1,h3{
  color: blue;
  
}
h1{
  text-align: center;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}

.card{
  background-color: white;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
}
p{
  font-weight: 500;
}



