

body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: brown;
}

h3{
  
  font-weight: 900;
  padding: 8px;
  font-size: 25px;
}
button{
  background-color: rgb(83, 120, 190);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
}


