

body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  
}

button{
  padding: 12px 35px;
  background-color: rgb(8, 126, 8);
  color: white;
  margin: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}
div{
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
}


