

body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: whitesmoke;
}

button{
  padding: 8px;
  background-color: rgb(95, 95, 235);
  color: white;
  margin: 9px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.delbtn{
  
  background-color: red;
}

input{
  padding: 8px;
  margin: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
li{
  margin-right: 10px;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  width: 25%;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
}