

body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: blue;
  font-style: italic;
  font-size: 20px;
}

button{
  padding: 8px 15px;
  margin: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(240, 62, 136);
  color: white;
  font-weight: 500;
  font-size: 16px;
}

video{
  width: 600px;
  padding: 10px;
  margin: 20px;
}


