body{
  background-color: aquamarine;
}

.box{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 300px;
  padding: 20px;
  align-content: center;
  margin: auto;
  justify-content: center;
}
.container{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  padding: 8px;
  margin: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.loginbtn, .logoutbtn{
  padding: 8px 20px;
  margin: auto;
  border-radius: 6px;
  width: fit-content;
  border: none;
  background-color: rgb(97, 99, 243);
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.card{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.containerCard{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  margin: 10px;
  width: 500px;
}
