button{
  background-color: rgb(83,120,190);
  color: white;
  padding: 12px;
  margin: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

h3{
  color: brown;
  font-weight: 900;
  padding: 8px;
  font-size: 25px;
}
div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

