

body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: brown;
}

h3{
  
  font-weight: 900;
  padding: 8px;
  font-size: 25px;
}
p{
  font-weight: 600;
  padding: 5px;
}


