body{
  background-color: aquamarine;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.card{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  margin: 5px;
}
p{
  font-size: 16px;
}

ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color:rgb(186, 123, 245);
  padding: 10px;
  margin: 13px;
}

li a{
  font-size: 20px;
  color: black;
}

