

body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: brown;
}

button{
  padding: 12px 35px;
  background-color: rgb(23, 23, 235);
  color: white;
  margin: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}

