h1{
  margin: 10px;
  padding: 8px;
  color: brown;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}

.card{
  background-color: white;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  width: 200px;
}
p{
  font-weight: 500;
}



